// primary
$orange: #f94811;
$lime: #c3f631;
// gradient
$orange-gradient: linear-gradient(90deg, #fc4f05 13.66%, #fbc400 88.29%);
$lime-gradient: linear-gradient(90.08deg, #b9ea1d 0.07%, #fbc401 99.93%);
// black
$black-900: #1b1b1b;
$black-700: #333333;
$black-600: #353535;
$black-400: #535353;
$black-300: #737373;
