// google fonts CDN
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans+Bengali:wght@400;500&family=Poppins:wght@400;500;600;700&display=swap");

// fonts
$Inter: "Inter", sans-serif;
$Poppins: "Poppins", sans-serif;
$Assamese: "Noto Sans Bengali", sans-serif;
